@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: #f8f8f8;
}
body {
  padding: 2rem 0.5rem;
  font-family: 'Raleway', Sans-serif;
  color: #32325d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
}
@media (min-width: 40rem) {
  body {
    padding: 2rem;
  }
}
.container {
 max-width: 1200px;
  margin: 0 auto;
}
h1.main-title {
    text-align: center;
    font-size: 35px;
}

.feed_refresh_btn {
    width: 200px;
    float: right;
}
button.btn.feed-refresh-btn {
    border-radius: 10px;
    background: #3c3c9c;
    color: #fff;
    font-weight: 500;
}
button.btn.feed-refresh-btn:hover {
  border: 2px solid transparent;
}


.btn {
  color: #000;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #f5f5f5;
  margin-top: 5%;
  border: 2px solid transparent;
}

.btn:hover {
    background-color: #fff;
    border: 2px solid #000;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
}

.card_title {
  color: #000;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
 max-height: 50px;
  height: 100%;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

.card_image img {
    width: 368px;
    /* margin: auto; */
    height: 210px;
    object-fit: cover;
}

.feed_refresh_btn {
    width: 200px;
}
.clear {
    clear: both;
}
.vid-link{
	text-decoration: none;
}